body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* index.html */

.body-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.start-btn {
  padding: 15px;
  background-color: rgb(177, 227, 228);
  border-radius: 25px;
  box-shadow: 3px 3px 3px 3px #c1c1c1;
}

.start-btn:hover {
  background-color: rgb(167, 215, 215);
}

.start-btn:active {
  box-shadow: inset;
  background-color: rgb(167, 215, 215);
  transform: translateY(4px);
}

/* header */
a {
  text-decoration: none;
  color: black;
}

.logo {
  width: 100%;
  padding: 50px;
  color: black;
}

h2 {
  text-align: center;
  padding: 50px 0 30px 50px;
}

/* table and form */

.table-area,
.form-area {
  position: relative;
  width: 1300px;
  margin: 0 auto;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

table,
form {
  width: 1300px;
  padding: 70px;
  padding-bottom: 100px;
  border-collapse: collapse;
}

table {
  border: none;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

td,
th {
  text-align: center;
  padding: 13px;
}

tr {
  border-bottom: 1px solid #c1c1c1;
}

form {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: column;
}

#write-form > div,
#modify-form > div {
  display: flex;
  justify-content: center;
  width: 1000px;
  height: 60px;
  padding: 10px;
}

#write-form > div > span,
#modify-form > div > span {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  padding-right: 30px;
}

#write-form > div > textarea,
#modify-form > div > textarea {
  height: 100px;
}

#write-form > div > input,
textarea,
#modify-form > div > input,
textarea {
  width: 80vw;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #aaa;
  border-radius: 15px;
}

/* view */

#view-form > div {
  width: auto;
  height: auto;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

#view-form > div > span {
  padding-right: 30px;
  line-height: 60px;
  align-items: center;
  font-weight: 700;
}

/* button */

.btn-area {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.submit-btn,
button {
  border: none;
  background-color: #ccc;
  border-radius: 5px;
  padding: 7px;
  margin: 10px;
  cursor: pointer;
}

.submit-btn:hover,
button:hover {
  background-color: #bebdbd;
}

.submit-btn:active,
button:active {
  box-shadow: inset;
  background-color: #bebdbd;
  transform: translate(1px, 1px);
}

.submit-btn {
  position: absolute;
  right: 80px;
  bottom: 0;
}

/* pagination */

.pagination {
  width: 1300px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.pagination > button:hover {
  background-color: rgb(167, 215, 215);
  font-weight: 800;
}

@media (max-width: 1300px) {
  .table-area,
  .form-area,
  table,
  #view-form,
  .pagination {
    width: 95vw;
  }
}
