body {
  margin: 0;
  padding: 0;
}

.logo {
  width: 100%;
  padding: 50px;
  color: black;
  text-decoration: none;
}

h2 {
  text-align: center;
  padding: 50px 0 30px 50px;
}

.table-area,
.form-area {
  position: relative;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin: 0 auto;
  padding-bottom: 70px;
  width: 1300px;
}

table,
form {
  width: 1300px;
  padding: 30px;
  border-collapse: collapse;
}

form {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: column;
}

#writeForm,
#modifyForm > div {
  display: flex;
  justify-content: center;
  width: 1000px;
  height: 60px;
  border: 1px solid red;
}

#writeForm,
#modifyForm > div > span {
  width: 100px;
  text-align: center;
  font-weight: 700;
}

#writeForm,
#modifyForm > div > input,
textarea {
  width: 80%;
}

@media (max-width: 1300px) {
  .table-area,
  .form-area {
    width: 95vw;
  }
  table {
    width: 95vw;
  }
}

td,
th {
  text-align: center;
  padding: 0.5rem 1rem;
  border-collapse: collapse;
}

a {
  text-decoration: none;
}

.submit-btn,
button {
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  background-color: #ccc;
  border-radius: 5px;
  padding: 7px;
}

.submit-btn {
  right: 80px;
  z-index: 1;
}

/* tbody tr:nth-child(odd) {
  background-color: #eee;
}

th {
  background: #444;
  color: #fff;
} */

/* .pagination {
  background-color: #333;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
} */

/* @media (max-width: 840px) {
  .pagination {
    display: none;
  }
}

@media (max-height: 820px) {
  .pagination {
    display: none;
  }
}

#numbers {
  padding: 0;
  margin: 0 2rem;
  list-style-type: none;
  display: flex;
}

#numbers li a {
  color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  opacity: 0.7;
}

#numbers li a:hover {
  opacity: 1;
}

#numbers li a.active {
  opacity: 1;
  background: #fff;
  color: #333;
} */
